keras>=2.9.0
matplotlib>=3.5.2
mne>=1.0.3
mne_connectivity>=0.3
numpy>=1.22.4
pymatreader>=0.0.30
PyQt5>=5.15.6
PyQt5-stubs>=5.15.6.0
pyriemann>=0.2.7
pyvista>=0.34.1
pyvistaqt>=0.9.0
scikit_learn>=1.1.1
scipy>=1.8.1
seaborn>=0.11.2
tensorflow>=2.9.1